# Sometimes use these for testing
.yamlfmt
!integrationtest/**/.yamlfmt
tmp
test_*.yaml
TRASH/

# Goreleaser build folder
dist/

# build file with `make build`
yamlfmt
yamlfmt.exe

# vscode settings
.vscode
